
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for placing order #<%= @order.id %> with us.</h1>
    <p>
      This is a confrimation that we have received your order. 
    </p>
    <br>
    <p>Thanks for shopping with us and have a great day!</p>
  </body>
</html>